@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap');

/*Variable in css*/
:root{
         --primary-color: rgb(196, 69, 69);
    --dark-primary-color: rgb(146, 34, 34);
}
/*End variable section*/


*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*Defult HTML code and Scrollbar style*/
html {
    scroll-behavior: smooth;
    scrollbar-color: var(--primary-color) transparent;
}
html::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}
html::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}
html::-webkit-scrollbar-thumb:hover{
    background: var(--dark-primary-color);
}



body{
    width: 100%;
    max-width:1920px;
    min-height: 200vh;
    background-color: #f9f9f9;
    color: #222;
    margin: 0 auto;
    font-family: Roboto;
    line-height: 1.6;
    font-weight: 400;
    position: relative;
}
/*End Defult HTML and Body code and Scrollbar style*/



.container{
    width:1240px;
    margin: 0 auto;
}
@media only screen and (min-width: 1200px) {
    .container{
        max-width: 1240px;
    }
}


/*Topbar area style start*/
.topbar{
    height: 50px;
    background-color: rgb(125, 125, 125);
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
}
.topbar .topbar__left{
    display: flex;
    align-items: center;
}
.topbar .topbar__right{
    display: flex;
    align-items: center;
}
.topbar .topbar__left .topbar__left--item,
.topbar .topbar__right .topbar__right--item{
    padding: 5px 10px;
}
.topbar .topbar__left .topbar__left--item a,
.topbar .topbar__right .topbar__right--item a{
    text-decoration: none;
    color: #efefef;
    font-size: 16px;
}
/*Topbar area style end*/



/*Logobar and search area*/
.logobar{
    height: 150px;
    background-color: #f3f3f3;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logobar .logobar__logo{
    text-decoration: none;
}
.logobar .logobar__logo .logobar__logo--text{
    color: #5a5a5a;
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'Stardos Stencil', cursive;
    font-weight: 700;
}
.logobar__search{
    position: relative;
}
.logobar__search .logobar__search--fill{
    border: 1px solid rgb(194, 194, 194);
    border-radius: 30px;
    background-color: #fff;
    width: 360px;
    height: 54px;
    padding: 0 20px;
}
.logobar__search .logobar__search--fill:focus{
    outline: none;
}
.logobar__search .logobar__search--fill::placeholder{
    color: #b8b8b8;
    font-size: 16px;
}
.logobar .logobar__search .logobar__search--icon{
    font-size: 20px!important;
    position: absolute;
    top: 50%;
    right:10px;
    transform: translate(0, -50%);
    color: #b8b8b8;
}
/*End logo and search area*/



/*Menubar area*/
.menubar{
    height: 80px;
    display: flex;
    align-items: stretch;
    background-color: rgb(125,125,125, 0.5);
    border: 1px solid rgba(0,0,0,0.1);
}
.menubar .menubar__items{
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 20px;
    color: #fff;
    font-weight: 700;
    line-height: 80px;
}
.menubar .menubar__items:hover{
    background-color: #FEB31A;
}
.menubar .menubar__items-active{
    background-color: #FEB31A;
}
/*End Menubar*/


